.v-toolbar {
    max-height: 64px;
}

.done {
    text-decoration: line-through;
}
[v-cloak] {
    display: none;
}
.task {
    max-width: 940px;
    width: 100%;
    margin: 24px auto;
    padding: 0 24px;
    display: flex;
    align-items: baseline;
}
.check-box, .btn-wrap {
    flex-basis: 64px;
}
.content {
    flex-grow: 1;
}
.date {
    font-size: small;
    color: #999;
}